@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  @apply flex flex-col items-center;
  @apply bg-black text-gray-50;
}

#root {
  @apply h-screen w-screen max-w-screen-xl;
}

.banner {
  width: 100vw;
  height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner:before {
  content: '';
  background: linear-gradient(to top, black, transparent);
  position: absolute;
  left: 0;
  height: 40vh;
  width: 100%;
}

.bannerArea {
  width: 36%;
  height: 100%;
  padding: 2rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
